name: Cloudman Pipeline

on:
  push:
    paths:
      - '**/manifest.json'

permissions:
  id-token: write  
  contents: read    

jobs:
  infrastructure:
    name: Call GitOps Engine
    uses: CloudManPro/cloudman-core/.github/workflows/engine.yml@main
    secrets: inherit
